
@font-face {
    font-family: SfPro-Bold;
    src: url('fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
    font-family: SfPro-Medium;
    src: url('fonts/SF-Pro-Display-Light.otf');
}

@font-face {
    font-family: SfPro-Light;
    src: url('fonts/SF-Compact-Display-Medium.otf');
}

@font-face {
    font-family: SfPro-Thin;
    src: url('fonts/SF-Pro-Text-Thin.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    z-index: 20
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h1{
    font-family: SfPro-Bold;
}
header{
    width:100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99;

}
#chk1{
    display: none;


}
i{
    color: #black;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: black;
    margin-left: 40px;
    font-size: 1.3vw;
    font-family: SfPro-Bold;
}

header ul {
    display: flex;
    justify-content: center;
}
header ul li{
    padding-right: 30px;
    list-style: none;
    font-family: SfPro-Medium;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid black;
}
header .menu{
    font-size: 2.5em;
    display: none;
}

.active-page{
    font-family: SfPro-Bold;
    background-image: linear-gradient(90deg, black, #171717);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: bottom;
}
.fa-bars{
    font-size: 25px;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:0px;
        right: -100%;
        width:25%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        top: 74px;
    }

    header ul li{
        list-style: none;
        padding: 20px;
    }

    header .menu{
        z-index: 999;
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
    .anotherpages{
        border-radius: 25px 0 0 25px;
        filter: drop-shadow(-17px 0px 60px black);
        background: rgb(255 255 255);
    }
}

select#langSelector {
    color: black;
    border-radius: 20px;
    height: 35px;
    width: 90px;
    text-align: right;
    font-weight: bold;
    position: relative;
    margin-left: 4px;
}

select#langSelector option {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
}

select#langSelector option:hover {
    background-color: #ccc;
}


.pagecon {
    padding: 75px 10px;
}

.container1Part{
    display: flex;
    padding: 50px 0px 0px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


/*text v buble*/
.container3part {
    background-color: #ecebeb;
    padding: 0px 35px;
}
.con-buble {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
}
.circle{
    width: 200px;
    height: 200px;
    background-image: url(photos/Fotka.jpeg);
    background-size: 300px auto;
    background-position: top;
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
}
.bubble {
    --r: 25px; /* the radius */
    --t: 5vw; /* the size of the tail */

    max-width: 800px;
    padding: calc(2*var(--r)/3);
    -webkit-mask:
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%)
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0)
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
            radial-gradient(50% 50%,#000 98%,#0000 101%)
            0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(135deg, #a6d1f5, #818de9) border-box;
    color: #fff;
    bottom: 60px;
    position: relative;
}
.firstBubleText{
    font-family: SfPro-Medium;
    font-size: 1vw;
    color: #7d7d7d;}
.secondBubleText{
    font-family: SfPro-Bold;
    font-size: 2vw;
    color: black;}
.left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
}
.right {
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
}

.container4Part{
    background-color: #ecebeb;
    text-align: center;
    padding: 40px 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.discriptionPodnikani{
    font-size: 3vw;
}

.text1con3{
    font-family: SfPro-Medium;
    font-size: 2.5vw;
    color: black;
    margin: 20px;
}

mark{
    background: #5ad34d;
}
.dolarman{
    width: 380px;
}

/*container4Part*/
.con-square{
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    display: flex;
}
:root {
    --gradient_bg_color: #000000;
    --gradient_spot1_color: #000000;
    --gradient_spot1_w: 75vw;
    --gradient_spot1_h: 75vh;
    --gradient_spot1_x: 0;
    --gradient_spot1_y: 0;
    --gradient_spot2_color: #2f1865;
    --gradient_spot2_w: 75vw;
    --gradient_spot2_h: 75vh;
    --gradient_spot2_x: 100%;
    --gradient_spot2_y: 0;
    --gradient_spot3_color: #150f4d;
    --gradient_spot3_w: 75vw;
    --gradient_spot3_h: 75vh;
    --gradient_spot3_x: 100%;
    --gradient_spot3_y: 100%;
    --gradient_spot4_color: #ff3b8d;
    --gradient_spot4_w: 75vw;
    --gradient_spot4_h: 75vh;
    --gradient_spot4_x: 0;
    --gradient_spot4_y: 100%;
}

.content {
    display: inline-block;
    z-index: 1;
    margin: 26px;

    color: #5CA17C;
    font-size: 2vw;
    text-align: left;

    background: -webkit-linear-gradient( 285deg, #d600ee, #d600ee, #d600ee, #7d0cf6, transparent, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}



.container4Part {
    display: flex;
    flex-wrap: wrap;
}

.square {
    margin: 10px;
    background-color: black;
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.midSquare {
    background-image: url("tojsemja.jpg");
    background-size: cover;
    background-position: center;
    height: 670px;
    width: 300px;
    flex: 1 0 50%;
}

.RightSquare {
    display: flex;
    flex-wrap: wrap;
}

.rightUpSquare,
.rightDownSquare {
    flex: 1 0 50%;
    height: 325px;
    box-sizing: border-box;
}

.rightUpSquare {
    margin-right: 10px;
}

.rightUpSquare.square,
.rightDownSquare.square {
    background-size: cover;
    background-position: center;
}
.rightDownSquare{
    background-image: url("macbookphotoshop2.jpeg");

}
/* Media query for adjusting image size on smaller devices */
@media (max-width: 768px) {
    .rightUpSquare,
    .rightDownSquare {
        flex: 1 0 100%;
        margin-right: 0;
        height: 200px; /* Change the image height for smaller devices */
    }
    .midSquare {
        flex: 1 0 50%;
        height: 420px;
        width: 100%; /* Adjust the width of the middle image for smaller devices */
    }
}






.part3con {
    padding: 20px 0px;
}

.subheader{
    flex: 1;
    color: #7d7d7d;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 80px;
    font-size: 2.3vw;
    font-family: SfPro-Bold;
}

.subH1-1{
    font-size: 3.5vw;
}
.subH1-2{
    font-size: 2vw;
}

.sub-character{
    width: 100%;
    max-width: 50vw;
    height: auto;
}

.websitesphoto{
    width:auto;
    max-width:100%;
    max-height:100%;
    width:1699px;
}


.section{
    height: 100vh;
}
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}

/*
.color-violet {
    background-color: #95d6ee;

}
.color-indigo {
    background-color: white;
}
.color-blue {
    background-color: ;
}
.color-green {
    background-color: #4DCF42;
}
.color-yellow {
    background-color: #FAEB33;
}
.color-orange {
    background-color: #F19031;
}
.color-red {
    background-color: #F2293A;
}
*/
/* styling for demo, can ignore */
body {
    transition: background-color 1.5s ease;
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
}
/*
.part2con{
    transition: background-color 1.5s ease;
} */
.phone {
   height: 350px;
    width: auto;
}

.bnf-cardcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.bnf{
    width: 350px;
}




/*-------------*/
/*tabnav menu*/
.tabnav-item:first-child{
    padding-left: 0;
}

.tabnav-item{
    display: inline-block;
    padding-left: 60px;
    border-bottom: 1px solid #d2d2d7;
    list-style: none;
    outline: none;
}

[role=presentation]{
    transition: all linear 0.15s;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
    :root {
        --primary-color: #185ee0;
        --secondary-color: #e6eef9;
    }

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }

    body {
        font-family: "Inter", sans-serif;
        background-color: rgba(230, 238, 249, 0.5);
    }

    .tabnav-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tabs {
        display: flex;
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
        padding: 0.75rem;
        border-radius: 99px;
    }
    .tabs * {
        z-index: 2;
    }

    input[type=radio] {
        display: none;
    }

    .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        width: 200px;
        font-size: 1.25rem;
        font-weight: 500;
        border-radius: 99px;
        cursor: pointer;
        transition: color 0.15s ease-in;
    }

    input[type=radio]:checked + label {
        color: var(--primary-color);
    }
    input[type=radio]:checked + label > .notification {
        background-color: var(--primary-color);
        color: #fff;
    }

    input[id=item-1]:checked ~ .glider {
        transform: translateX(0);
    }

    input[id=item-2]:checked ~ .glider {
        transform: translateX(100%);
    }

    .glider {
        position: absolute;
        display: flex;
        height: 54px;
        width: 200px;
        background-color: var(--secondary-color);
        z-index: 1;
        border-radius: 99px;
        transition: 0.25s ease-out;
    }

    @media (max-width: 700px) {
        .tabs {
            transform: scale(0.6);
        }
    }




.compare-table {
    display: flex;
    justify-content: center;

}

.markup-product{
    padding: 20px 80px;
}

.cena{
    font-family: SfPro-Bold;
    border-radius: 20px;
}
#basic{
    background-color: lightpink;
}
#standart{
    background-color: mediumpurple;
}
#profesional{
    background-color: #f5a6f0;
}
.benefits{
    font-family: SfPro-Light;
}
span{
    font-size: 1.6vw;
    color: black;
}


.sub2header{
    color: #7d7d7d;
    padding-left: 35px;
    text-align: left;
    font-size: 1.8vw;
    font-family: SfPro-bold;
}
.pf-cardcon{
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    justify-content: start;
    width: 100%;
    vertical-align: top;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 130px;
}

.cardcon::-webkit-scrollbar{
    display: none;
}


.card-scroller{
    display: flex;
    height: 33.41176rem;
    margin-right: 20px;
    align-items: center;
}
.pf-card{

    transform: translateX(calc(max(999px, 80vw)/2 - 490px));
    /* scroll-snap-align: start; */
    /* display: flex; */
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.cardimg{

    border-radius: 18px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
}

.card-content-info{
    text-align: left;
    position: fixed;
    bottom: -122px;
    left: 16px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 0;
}

.card-title{
    position: absolute;
    font-size: 15px;
    font-family: SfPro-Bold;
}

.card-content{
    top: 40px;
    position: absolute;
    font-size: 15px;
    color: #5c5c5c;
    font-family: SfPro-Bold;
}

.bnf-readmore{
    position: absolute;
    top: 95px;
    font-size: 13px;
    font-family: 'SfPro-Bold';
}

b{
    color: black;
}

.informace-footer {
    padding: 0px 57px;
    text-align: left;
    display: inline-grid;
    font-size: 12px;
    color: #7d7d7d;

}
.h7 {
    padding: 5px 0px;
}

.kam-dale {
    margin: 10px;
}

.odkazy a
{
    font-family: SfPro-Medium;
    color: gray;
}

a.active-page {
    font-family: SfPro-Bold;
    color: black;
}

@media screen and (max-width: 1300px){
    .bnf{
        width: 300px;
    }
}
@media screen and (max-width: 1130px) {
    .phone {
        height: 250px;
    }
    .dolarman{
        width: 250px;
    }
    .bnf{
        width: 250px;
    }

}

@media screen and (max-width: 750px) {
    .phone {
        height: 150px;
    }
    .firstBubleText{
        font-size: 0.9vw;
    }
    .secondBubleText{
        font-size: 1.5vw;
    }
    .dolarman{
        width: 150px;
    }
    .bnf-card{
        margin: 20px;
    }
    .bnf{
        width: 200px;
    }
}



